.backgroundImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(255, 106, 0, 0.5);
}

.background {
    height: 100vh;
    width: 100vw;
}

.pageLink {
  color: rgba(161, 4, 4, 0.807);
  text-decoration: none;
}

.pageLink:hover {
  color: rgb(6, 148, 150);
}

.pageButton {
  color: rgb(255, 191, 41);
  border-color: rgb(255, 191, 41);
  margin: 0 10px;
  padding: 5px 10px;
  height: 37px;
  margin: 5px 10px;
}

.pageButton:hover {
  color: white;
  background-color: rgba(161, 4, 4, 0.807);
  border-color: rgba(6, 148, 150);
}


.pageCard {
  background: rgba(255, 255, 255, 0.8); 
}


.step1Color {
  color: rgb(139, 0, 0);
}

.step2Color {
  color: rgb(0, 0, 139);
}

.step3Color {
  color: rgb(0, 139, 139);
}

.step4Color {
  color: rgb(0, 139, 0);
}