main {
    min-height: 80vh;
}

a {
    color: #1b1a1a;
    text-decoration: none;
}

h1 {
    padding: 1rem 0;
    font-size: 1.7rem;
}

h2 {
    padding: 0.5rem 0;
    font-size: 1.3rem;
}

h3 {
    padding: 1rem 0;
}

/* Path: src/App.js */
.rating span{
    /* display: flex;
    flex-direction: row-reverse;
    justify-content: center; */
    /* margin: 0 1px; */
    margin: 0.2rem;
}